{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoice list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Address</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                <td>{{ invoice.number }}</td>
                <td>{{ invoice.address }}</td>
                <td>{% if invoice.date %}{{ invoice.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pdf', { 'id': invoice.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoice_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
